@page
@model WebApplication4.Pages.ImpersonarClienteModel
@{
    ViewData["Title"] = "Impersonar Cliente";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@*Navegación*@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">Inicio sesión</a></li>
        <li class="breadcrumb-item"><a asp-page="/Contact">Portal admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Impersonar cliente</li>
    </ol>
</nav>

<h2>@ViewData["Title"]</h2>

@*Búsqueda cliente por identificación*@
<form class="form-inline" method="post">
    <div class="form-group">
        <input asp-for="cliente.Id" class="form-control" type="search" placeholder="identificación cliente" name="identificacion" aria-label="Search" />
        <span asp-validation-for="cliente.Id" class="text-danger"></span>
        <button class="btn btn-success btn-outline" type="submit">Buscar</button>
    </div>
</form>

@*Acordeon impersonar cliente*@
<div class="accordion" id="accordionImpersonar">
    @*Estados de cuenta recientes*@
    <div class="card">
        <div class="card-header" id="headingEstadosRecientes">
            <h5 class="mb-0">
                <button class="btn btn-primary btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseEstadosRecientes" aria-expanded="false" aria-controls="collapseEstadosRecientes">
                    Estados de cuenta recientes
                </button>
            </h5>
        </div>

        <div id="collapseEstadosRecientes" class="collapse" aria-labelledby="headingEstadosRecientes" data-parent="#accordionImpersonar">
            <div class="card-body">
                @*Tabla info estados recientes AUN SIN INFO VERDADERA*@
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id Cuenta</th>
                            <th scope="col">Fecha corte</th>
                            <th scope="col">Saldo inicial</th>
                            <th scope="col">Saldo final</th>
                            <th scope="col">Cant Op Manual</th>
                            <th scope="col">Cant Op ATM</th>
                            <th scope="col">Saldo mínimo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listaEstadosCuenta){
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdCuenta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCorte)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SaldoInicial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SaldoFinal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CantOpMaxManual)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CantOpMaxATM)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SaldoMinimo)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @*Información actual*@
    <div class="card">
        <div class="card-header" id="headingInfoActual">
            <h5 class="mb-0">
                <button class="btn btn-primary btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseInfoActual" aria-expanded="false" aria-controls="collapseInfoActual">
                    Información actual del cliente
                </button>
            </h5>
        </div>
        <div id="collapseInfoActual" class="collapse" aria-labelledby="headingInfoActual" data-parent="#accordionImpersonar">
            <div class="card-body">
                
                @*Acordeon opciones para informacion actual*@
                <div id="accordionOpcionesInfoActual">
                    
                    @*Opcion información cliente*@
                    <div class="card">
                        <div class="card-header" id="headingInfoCliente">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseInfoCliente" aria-expanded="true" aria-controls="collapseInfoCliente">
                                    Información cliente
                                </button>
                            </h5>
                        </div>
                        
                        <div id="collapseInfoCliente" class="collapse" aria-labelledby="headingInfoCliente" data-parent="#accordionOpcionesInfoActual">
                            <div class="card-body">
                                @*Lista con la información del cliente*@
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action active">Datos</a>
                                    <a class="list-group-item list-group-item-action">
                                        Saldo actual:
                                        <p class="text-right">@Html.DisplayFor(modelItem => Model.cuenta.Saldo)</p>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        Intereses acumulados:
                                        <p class="text-right">@Html.DisplayFor(modelItem => Model.cuenta.InteresesAcumulados)</p>
                                    </a>
                                    <a class="list-group-item list-group-item-action">
                                        Fecha creación:
                                        <p class="text-right">@Html.DisplayFor(modelItem => Model.cuenta.FechaCreacion)</p>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*Opcion movimientos actuales*@
                    <div class="card">
                        <div class="card-header" id="headingMovimientosCliente">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMovimientosCliente" aria-expanded="false" aria-controls="collapseMovimientosCliente">
                                    Movimientos cliente
                                </button>
                            </h5>
                        </div>
                        <div id="collapseMovimientosCliente" class="collapse" aria-labelledby="headingMovimientosCliente" data-parent="#accordionOpcionesInfoActual">
                            <div class="card-body">
                                @*Tabla info movimientos*@
                                <table id="tablaMovimientosCliente" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id Tipo Movimiento</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Monto</th>
                                            <th scope="col">Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.listaMovimientos) {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IdTipoMovimiento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Fecha)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Monto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                            </td>
                                        </tr>
                                        }
                                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>





